@model CurioExchange.ViewModels.UserPieceViewModel

@{
    ViewBag.Title = "Wanted & owned pieces";
}

<h2>Wanted pieces</h2>

<p>
    @Html.ActionLink("Add wanted piece(s)", "CreateWanted")
</p>
@using (Html.BeginForm("DeleteWanted", "UserPieces"))
{
    <p><input type="submit" value="Delete selected pieces" class="btn btn-default" /></p>
<table class="table">
    <tr>
        <th><input type="checkbox" id="selectAllWanted" /></th>
        <th>@Html.LabelFor(model => model.WantedPieces.FirstOrDefault().Piece) </th>
        <th>@Html.LabelFor(model => model.WantedPieces.FirstOrDefault().Piece.Rare) </th>
        <th>@Html.LabelFor(model => model.WantedPieces.FirstOrDefault().Piece.Set) </th>
        <th>@Html.LabelFor(model => model.WantedPieces.FirstOrDefault().Piece.Set.Collection) </th>
        <th></th>
    </tr>

@foreach (var item in Model.WantedPieces)
{
    <tr>
        <td>
            <input type="checkbox" name="toDeleteWanted" value="@item.Id" class="toDeleteWanted">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piece.Name)
        </td>
        <td>
            @if (item.Piece.Rare)
            {
                <span style="color: green; font-weight: bold;">Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piece.Set.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piece.Set.Collection.Name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
    <input type="submit" value="Delete selected pieces" class="btn btn-default" />
}

<h2>Owned pieces</h2>

<p style="color:red">@TempData["ErrorMessage"]</p>

<p>
    @Html.ActionLink("Add owned piece(s)", "CreateOwned") | @Html.ActionLink("Import owned pieces", "ImportOwned")
</p>
@using (Html.BeginForm("DeleteOwned", "UserPieces"))
{
    <p><input type="submit" value="Delete selected pieces" class="btn btn-default" /></p>
<table class="table">
    <tr>
        <th><input type="checkbox" id="selectAllOwned" /></th>
        <th>@Html.LabelFor(model => model.WantedPieces.FirstOrDefault().Piece) </th>
        <th>@Html.LabelFor(model => model.WantedPieces.FirstOrDefault().Piece.Rare) </th>
        <th>@Html.LabelFor(model => model.WantedPieces.FirstOrDefault().Piece.Set) </th>
        <th>@Html.LabelFor(model => model.WantedPieces.FirstOrDefault().Piece.Set.Collection) </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OwnedPieces)
    {
        <tr>
            <td>
                <input type="checkbox" name="toDeleteOwned" value="@item.Id" class="toDeleteOwned">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piece.Name)
            </td>
            <td>
                @if (item.Piece.Rare)
                {
                    <span style="color: green; font-weight: bold;">Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piece.Set.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piece.Set.Collection.Name)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
    <input type="submit" value="Delete selected pieces" class="btn btn-default" />
}

<script>
$(document).ready(function() {
    $('#selectAllWanted').click(function (event) {  //on click
        if(this.checked) { // check select status
            $('.toDeleteWanted').each(function () { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.toDeleteWanted').each(function () { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    $('#selectAllOwned').click(function (event) {  //on click
        if (this.checked) { // check select status
            $('.toDeleteOwned').each(function () { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        } else {
            $('.toDeleteOwned').each(function () { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });
});
</script>